<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>v5 Games</title>
    <meta name="description"
          content="v5 Games Multiplication Master, Word Smashing, Big Multiplayer Chess">
    <meta name="keywords"
          content="word smashing, big multiplayer chess, addicting word games, multiplication master">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <script src="/static/bower_components/jquery/dist/jquery.js"></script>

    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <link href="/static/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="row wordsmashing-background mm-article-theme">
    <a href="http://www.wordsmashing.com" target="_blank">
        <img class="v5-logo big-shadow img-responsive inline" src="/static/img/wordsmashing_icon128.png">
    </a>
    <a class="btn btn-lg btn-warning mm-btn-hg big-shadow" href="http://www.wordsmashing.com" target="_blank">Play
        Now!</a>
</div>
<div class="row multiplication-master-background mm-article-theme">
    <a href="http://www.multiplicationmaster.com" target="_blank">
        <img class="v5-logo img-responsive inline" src="/static/img/multiplication-master-logo.png">
    </a>
    <a class="btn btn-lg btn-warning mm-btn-hg" href="http://www.multiplicationmaster.com" target="_blank">Play Now!</a>
</div>
<div class="row big-multiplayer-chess-background mm-article-theme">
    <a class="big-multiplayer-chess-logo big-shadow" href="http://bigmultiplayerchess.com" target="_blank">BIG
        MULTIPLAYER CHESS</a>
    <a class="btn btn-lg btn-warning mm-btn-hg" href="http://bigmultiplayerchess.com" target="_blank">Play Now!</a>
</div>
</body>
</html>
